
<section id="list" class="container printable">
  <h5 class="pt-3 printable hidden">Ficha da turma</h5>
  <form class="container card row py-4">
    <app-team-form
      *ngIf="team"
      [team]="team"
      [title]="'Editar turma'"
    ></app-team-form>
    <div class="col-12 d-flex justify-content-end">
      <app-btn-custom
        [type]="'submit'"
        [class]="'btn btn-outline-success me-2'"
        [innerHtml]="'Atualizar'"
        (click)="updateTeam()"
      ></app-btn-custom>
      <app-btn-custom
        [type]="'submit'"
        [class]="'btn btn-outline-danger'"
        [innerHtml]="'Cancelar'"
        (click)="cancel()"
      ></app-btn-custom>
    </div>
  </form>
</section>


