.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}

.card {
  padding: 2em;
  border: none;
}

.btn-login {
  border: none;
  color: #FFFFFF;
  background-color: #0CA789;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.btn-login:hover,
.btn-login:focus,
.btn-login:active {
  color: #FFFFFF;
  background-color: #0A7D66;
  border-color: #FFFFFF;
}

@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}
