
<section id="list" class="container  printable">

  <h5 class="pt-3 printable hidden">Ficha do Aluno</h5>
  <form class="specific-container card row py-4 px-0">

    <app-student-form
      *ngIf="student"
      [student]="student"
      [title]="'Editar aluno'"
    ></app-student-form>

    <div class="col-12 d-flex justify-content-end">
      
      <app-btn-custom
        [type]="'submit'"
        [class]="'btn btn-outline-success me-2'"
        (click)="updateStudent()"
        [innerHtml]="'Atualizar'"
      ></app-btn-custom>

      <app-btn-custom
        [type]="'submit'"
        [class]="'btn btn-outline-danger'"
        (click)="cancel()"
        [innerHtml]="'Cancelar'"
      ></app-btn-custom>

    </div>

  </form>
  
</section>
