<section class="container list-container">

  <img src="\assets\img\logo-fabrica-do-saber.png" alt="" class="hidden printable">

  <h5 class="pt-3 printable">Alunos cadastrados</h5>

  <!-- Search bar -->
  <div class="d-flex justify-content-between mt-3 mb-3">
    <div class="col-md-4 not-printable">
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
               id="search-input"
               (input)="filterStudentList($event)">
      </form>
    </div>

    <div class="col-md-4 not-printable">
      Ordenar por
      <div ngbDropdown class="d-inline-block">
        <button type="button" class="btn btn-outline-primary" id="dropdownBasic"
                ngbDropdownToggle>{{filterText}}</button>
        <ul ngbDropdownMenu>
          <li ngbDropdownItem *ngFor="let filter of filters"><a class="dropdown-item"
                                                                (click)="filter.function()">{{filter.name}}</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-md-3 r-0 not-printable">
      <app-btn-custom
        [type]="'submit'"
        [class]="'btn btn-primary'"
        [innerHtml]="'Cadastrar novo aluno'"
        [routerLink]="'/student-create'"
      ></app-btn-custom>
    </div>

    <button type="button" class="btn btn-outline-info btn-upload not-printable"
            (click)=printStudentList()
            title="button.title">
      <i class="fa fa-upload"></i>
    </button>
  </div>

  <div class="col-12 py-2 hidden printable num-alunos">
    <h6>Número de estudantes cadastrados: {{students.length}}</h6>
  </div>

  <div class="table-responsive printable">

    <table class="table no-wrap user-table mb-0">
      <thead>
      <tr>
        <th scope="col" class="border-0 font-medium" *ngFor="let header of tableHeaders"
            [class.not-printable]="header === 'Gerenciar'">
          {{ header }}
        </th>

      </tr>
      </thead>
      <tbody>
      <ng-container *ngFor="let student of students; index as i">
        <tr>
          <td>
            <h6 class="text-black">{{ student.fullName }}</h6>
          </td>
          <td>
            <span class="text-black">{{student.birthDate | age}}</span><br>
            <span class="text-muted">{{ student.birthDate }}</span>
          </td>
          <td>
            <span class="black">{{ student.parents[0].phoneNumber }}</span><br>
            <span class="text-muted">{{ student.parents[0].fullName}}</span>
          </td>
          <td>
            <span class="black">{{ student.parents[1].phoneNumber }}</span><br>
            <span class="text-muted">{{ student.parents[1].fullName}}</span>
          </td>
          <td>
            <span class="text-black">{{ student.race }}</span><br>
          </td>
          <td>
            <span class="text-black">{{student.registrationDate}}</span><br>
          </td>
          <td>
            <button *ngFor="let button of buttons" type="button" class="btn btn-outline-info btn-circle"
                    [routerLink]="button.route ? [button.route, student.id] : null"
                    (click)="button.function ? button.function(student) : null"
                    title="{{ button.title }}">
              <i [class]="button.iconClass"></i>
            </button>
          </td>
        </tr>
      </ng-container>
      </tbody>
    </table>
  </div>
</section>
