<section id="list" class="container">
  <form class="container card row py-4">
    <app-transaction-form
      [transaction]="transaction"
      [title]="'Nova transação'"
    ></app-transaction-form>
    <div class="col-12 d-flex justify-content-end">
      <app-btn-custom
        [type]="'submit'"
        [class]="'btn btn-outline-success me-2'"
        [innerHtml]="'Cadastrar'"
        (click)="createTransaction()"
      ></app-btn-custom>
      <app-btn-custom
        [type]="'submit'"
        [class]="'btn btn-outline-danger'"
        [innerHtml]="'Cancelar'"
        (click)="cancel()"
      ></app-btn-custom>
    </div>
  </form>
</section>
